@import 'colors';

.navbar-container {
  height: 70px;
  margin-bottom: 36px;
}

.navbar {
  align-items: center;
  background-color: $white;
  border-top: 6px solid $cerulean;
  box-shadow: 0 4px 10px rgba($black, 0.5);
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;

  .logo {
    height: 100%;
    max-height: 64px;
  }

  .logout {
    font-size: 16px;
  }
}