<div class="book-list">
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
  <div class="book">
    <img class="cover" ng-src="{{$ctrl.bookCover}}" alt="Book cover" />
    <span class="title">Título del libro</span>
    <span class="author">Autor del libro</span>
  </div>
</div>
