$badge-width: 70px;
$mobile-width: 880px;
$tablet-width: 1024px;
$title-border: 4px solid $earls-green;

.detail-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 36px;

  .back {
    align-items: center;
    display: flex;
    max-width: 70%;
    margin: 0 0 16px;
    width: 100%;

    .btn-back {
      font-size: 20px;

      &::before {
        content: url('../assets/images/back-arrow-20.png');
        height: 20px;
        margin: 0 10px 0 0;
        vertical-align: middle;
        width: 20px;
      }
    }
  }

  .book-detail {
    box-shadow: 4px 4px 10px 0 rgba($black, 0.5);
    display: grid;
    grid-template: 56px auto / 295px auto 1fr;
    height: 100%;
    max-height: 416px;
    max-width: 900px;
    padding: 24px;
    width: 100%;
  }
}

.book-cover {
  position: relative;
  grid-row: span 2;

  .cover {
    height: 100%;
    margin: 0 52px 0 0;
    max-height: 368px;
    max-width: 261px;
    width: 100%;
  }

  .badge {
    bottom: 286px;
    max-width: $badge-width;
    position: absolute;
    right: 32px;
    transform: rotate(14deg);
    width: 100%;
  }
}

.book-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-column: span 2;
  margin-top: 36px;
  order: 3;

  .info {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 36px;
  }

  .data {
    color: $gray;
    font-size: 20px;
  }
}

.title {
  border-bottom: $title-border;
  font-size: 32px;
  font-weight: 700;
  order: 1;
}

.subtitle {
  border-bottom: $title-border;
  color: $gray;
  font-size: 24px;
  font-weight: 700;
  order: 2;
}

@media only screen and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {

  .detail-container {

    .back {
      max-width: 853px;
    }

    .book-detail {
      grid-template: 38px 70px 1fr / 316px 1fr;
      max-height: 569px;
      max-width: 853px;
      padding: 32px;
    }
  }

  .book-cover {
    order: 3;
  }

  .title {
    border: 0;
    grid-column: span 2;
    text-align: center;
  }

  .subtitle {
    border-bottom: none;
    grid-column: span 2;
    text-align: center;
  }

  .book-info {
    grid-column: auto;
    justify-content: center;
  }
}

@media only screen and (max-width: $mobile-width) {

  .detail-container {
    flex-direction: column-reverse;

    .back {
      justify-content: center;
      margin: 20px 0 0;
    }

    .book-detail {
      grid-template: none;
      max-height: 570px;
      max-width: 336px;
      padding: 18px;
    }
  }

  .book-cover {
    grid-row: 2;
    margin: 20px 44px;

    .badge {
      bottom: 246px;
      left: 172px;
      max-width: calc(#{$badge-width} * 0.7);
    }
  }

  .title {
    border: 0;
    font-size: 24px;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 18px;
    padding-bottom: 12px;
    text-align: center;
  }

  .book-info {
    grid-column: auto;
    margin-top: 0;

    .info {
      font-size: 14px;
      margin-bottom: 18px;
    }

    .data {
      font-size: 14px;
    }
  }
}
