<div class="detail-container">
  <div class="back">
    <a ui-sref='bookList' class="btn-back">Atrás</a>
  </div>

  <div class="book-detail">
    <h1 class="title">Título del libro</h1>
    <span class="subtitle">(género)</span>
    <div class="book-cover">
      <img class="cover" ng-src='{{$ctrl.bookCover}}' alt="Book cover" />
      <img class="badge" ng-src='{{$ctrl.badge}}' alt="Badge" />
    </div>
    <div class="book-info">
      <h3 class="info">
        Autor del libro:
        <span class="data">Nombre del autor del libro</span>
      </h3>
      <h3 class="info">
        Editorial:
        <span class="data">Nombre de la editorial</span>
      </h3>
      <h3 class="info">
        Año de publicación:
        <span class="data">Año de publicación</span>
      </h3>
    </div>
  </div>
</div>
