<div class="detail-container">
  <div class="back">
    <a ui-sref='bookList' class="btn-back">Atrás</a>
  </div>

  <div class="book-detail">
    <h1 class="title">{{$ctrl.book.title}}</h1>
    <span class="subtitle">({{$ctrl.book.genre}})</span>
    <div class="book-cover">
      <img class="cover" ng-src='{{$ctrl.book.image_url || $ctrl.bookCover}}' alt="Book cover" />
      <img class="badge" ng-src='{{$ctrl.badge}}' alt="Badge" />
    </div>
    <div class="book-info">
      <h3 class="info">
        Autor del libro:
        <span class="data">{{$ctrl.book.author}}</span>
      </h3>
      <h3 class="info">
        Editorial:
        <span class="data">{{$ctrl.book.publisher}}</span>
      </h3>
      <h3 class="info">
        Año de publicación:
        <span class="data">{{$ctrl.book.year}}</span>
      </h3>
    </div>
  </div>
</div>
