$border-radius: 5px;

.login-container,
.signup-container {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login,
.signup {
  align-items: center;
  background-color: $wild-sand;
  border-top: 8px solid $cerulean;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px 24px 24px;
  width: 100%;

  .logo {
    height: 100%;
    max-height: 70px;
    max-width: 212px;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .label {
      font-size: 16px;
      margin: 16px 0 8px;
    }

    .input {
      border-radius: $border-radius;
      height: 32px;
    }

    .btn-filled {
      background-color: $earls-green;
      border-radius: $border-radius;
      color: $white;
      height: 32px;
      margin: 24px 0 16px;
    }

    &::after {
      background-color: $silver-chalice;
      content: '';
      height: 2px;
    }
  }

  .btn-outline {
    border: 2px solid $earls-green;
    border-radius: $border-radius;
    color: $earls-green;
    height: 32px;
    margin: 16px 0 0;
    width: 100%;
  }
}
