<div class="login-container">
  <div class="login">
    <img class="logo" ng-src="{{$ctrl.logoWolox}}" alt="Logo Wolox" />
    <form class="login-form" action="#!/book-list">
      <label class="label" for="email">Email</label>
      <input class="input" id="email" type="email" />
      <label class="label" for="password">Password</label>
      <input class="input" id="password" type="password" />
      <button class="button-login">Login</button>
    </form>
    <button class="button-signup">Sign Up</button>
  </div>
</div>
